# Git
.git/
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
build/
dist/
wheels/
*.egg-info/
.venv/

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing / Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Docs
README.md
LICENSE

# Docker
Dockerfile
docker-compose*.yml
.dockerignore
